.box {
    background: purple;
    height: 50px;
    width: 50px;
    margin: 10px;
    display: inline-block;

}

.box-2 {
    background: yellow;
}

.box-3{
    background: blue;
}



/* 
- INLINE
- INLINE-BLOCK
- GRID
- FLEX



-BLOCK
    Vem como padrao: div, section, p, h1, h2, ul, li, articles....

    - Ocupa  100% da largura do elemento pai
    - Sempre ocupa toda a sua linha
    - Altura definida de acordo com o conteudo
    - Podemos definir height e width
    - Podemos definir valores de margin

- INLINE
    Vem como padrão a, span, b, i ....

    - Elementos em linha
    - Não permite alterar height e width
    - Não podemos definir valores de margin top e bottom
    - Ganha comportamento de uma palavra


= INLINE BLOCK
    
    - Elementos em Linha, porem com caracteristica do display Block
    - Altura e Largura podem ser alteradas.
