#titulo {
    background: red;
 color: azure;   
}

#paragrafo {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

#botao {
    background: chocolate;
    font-size: 30px;
    color: black;
    border-radius: 10px;

}