

div {
    height: 200px;
    width: 200px;
    border: 1px solid #333;
    transition: all 0.4s ease;
    position: relative;
    left: 10px;
    
}

input {
    position: relative;
    left: 20.5px;
    top: 10px;
}

h2 {
    position: relative;
    left: 50px;
    top: 10px;

}
